.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}
    

center{
  align-items: center;
  justify-content: center;

}


.modalImg{
  color: red;
}


@media screen and(max-width: 810px) {
  .navCont{
    width: 50%;
  }
  .nav-title{
    scale: .1;
  }

}